@model _01_Query.Contract.BasicInfo.BasicInfoQueryModel


<div class="row">
    <div class="col-md-6">
        <img src="~/SiteTheme/assets/images/resume2.jpg" class="img-fluid mb-15 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft" alt="وب سایت شخصی نوید قوامی" title="وب سایت شخصی نوید قوامی">
    </div>
    <div class="col-md-6 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
        <span class="heading-meta style-1">رزومه من</span>
        <h3 class="lonon-about-heading text-justify"> برنـامـه نویـس ارشـد و توسعـه دهنـده وب!</h3>

        <p class="text-justify">
            برنامه نویس ارشد و توسعه دهنده وب با 4+ سال تجربه در توسعه وب، کارهای گروهی، طراحی، توسعه رابط های کاربری، آزمایش، اشکال زدایی، آموزش کارکنان در زمینه فناوری های تجارت الکترونیک، ارائه راه حل های تجاری در کسب و کارهای متنوع به مشتریان و همچنین توانایی اثبات شده در بهینه سازی عملکرد وب که بازیابی اطلاعات و کارآیی گردش کار را بهبود می بخشد می باشم.
        </p>

        <p class="text-justify">
            یک برنامه نویس سخت کوش ، وفادار و قابل اعتماد و دارای سابقه عالی در برنامه نویسی، برنامه ها و سیستم ها می باشم. قادر به برقراری ارتباط موثر در سطوح مختلف، هم برای مخاطبین فنی و هم غیر فنی را دارا هستم. من به دنبال فرصتی می باشم تا بتوانم مهارت های برنامه نویسی و رهبری خود را توسعه دهم و حرفه خود را در زمینه فناوری اطلاعات بیشتر پیش ببرم.
        </p>

        <p class="text-justify">
             ذهنی روشن و منطقی  با رویکردی عملی برای حل مشکلات و انگیزه ای برای مشاهده کامل امور را دارم. مشتاق یادگیری هستم ، از غلبه بر چالش ها لذت می برم و علاقه واقعی به مدیریت کسب و کار و موفقیت سازمان ها دارم.
        </p>
    </div>
</div>
<div class="row">
    <div class="lonon-about-contact-wrap">
        <div class="row">
            <div class="col-md-4">
                <p><b>نام: </b>@Model.Name</p>
                <p><b>سن: </b> @Model.Age</p>
                <p><b>شغل: </b> @Model.Job</p>
                <p><b>آدرس: </b> @Model.Address</p>
                <p><b>تعداد مشتریان راضی: </b> @Model.HappyCustomers</p>
            </div>
            <div class="col-md-4">
                <p><b>نام خانوادگی: </b>@Model.Family</p>
                <p><b>ملّیت: </b> @Model.Nationality</p>
                <p><b>اینستاگرام: </b> @Model.Instagram</p>
                <p><b>سابقه شغلی و کاری: </b> @Model.Experience</p>
                <p><b>مقالات منتشر شده: </b> @Model.ArticleCount مقاله</p>
            </div>
            <div class="col-md-4">
                <p><b>ایمیل: </b> @Model.Email</p>
                <p><b>موبایل: </b>@Model.Mobile</p>
                <p><b>زبان های خارجی: </b>@Model.Language</p>
                <p><b>پروژه های تکمیل شده: </b> @Model.CompleteProject</p>
            </div>
        </div>
    </div>
</div>

