@model List<_01_Query.Contract.EducationExperience.EducationExperienceQueryModel>


<div class="lonon-lonon-timeline">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <span class="heading-meta style-1">سوابق تحصیلی</span>
                <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">تحصیلات من</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                <ul class="lonon-timeline">
                  @foreach (var item in Model)
                  {
                      <li>
                          <div class="lonon-timeline-content">
                              <span class="lonon-timeline-date">@item.EducationDate</span>
                              <span class="lonon-timeline-date">@item.EducationDegree</span>
                              <h5>@item.EducationCourse</h5>
                              <h4>@item.UniversityName</h4>
                              <p>@item.Description</p>
                          </div>
                      </li>
                  }
                   
                </ul>
            </div>
        </div>
    </div>
</div>