@page
@model ServiceHost.Pages.MyServicesModel

@{
    ViewData["Title"] = "سرویس ها و تعرفه های من";
}
<div id="lonon-main">
    <div class="lonon-services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span class="heading-meta style-1">ما چه میکنیم؟</span>
                    <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">خدمات ما</h2>
                </div>
            </div>
            <div class="row">
             @foreach (var item in Model.Services)
             {
                 <div class="col-md-4">
                     <div class="lonon-feature animate-box" data-animate-effect="fadeInLeft">
                         <div class="lonon-icon">
                             <span class="@item.ServiceLogo font-35px"></span>
                         </div>
                         <div class="lonon-text">
                             <h3>@item.ServiceName</h3>
                             <p>
                                 @item.ServiceDescription
                             </p>
                         </div>
                     </div>
                 </div>
             }
            </div>
        </div>
    </div>
    <div class="divider1"></div>

    <div class="lonon-pricing">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span class="heading-meta style-1">تعرفه پلن ها</span>
                    <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">قیمت پلن های من</h2>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.Plans)
                {
                    <div class="col-md-6 price-table">
                        <div class="price-box animate-box" data-animate-effect="fadeInLeft">
                            <h4><strong>@item.PlanName</strong></h4>
                            <h1 class="bold price-price"><sup></sup> <span class="text-danger">@item.PlanPrice</span></h1>
                            <div class="price-features">
                                @if (item.PlanDescription1 != null)
                                {
                                    <p class="text-justify">
                                        <strong class="text-danger">*</strong>
                                        @item.PlanDescription1
                                    </p>
                                }
                                @if (item.PlanDescription2 != null)
                                {
                                    <p class="text-justify">
                                        <strong class="text-danger">*</strong>
                                        @item.PlanDescription2
                                    </p>
                                }
                                @if (item.PlanDescription3 != null)
                                {
                                    <p class="text-justify">
                                        <strong class="text-danger">*</strong>
                                        @item.PlanDescription3
                                    </p>
                                }
                                @if (item.PlanDescription4 != null)
                                {
                                    <p class="text-justify">
                                        <strong class="text-danger">*</strong>
                                        @item.PlanDescription4
                                    </p>
                                }
                                @if (item.PlanDescription5 != null)
                                {
                                    <p class="text-justify">
                                        <strong class="text-danger">*</strong>
                                        @item.PlanDescription5
                                    </p>
                                }
                                @if (item.PlanDescription6 != null)
                                {
                                    <p class="text-justify">
                                        <strong class="text-danger">*</strong>
                                        @item.PlanDescription6
                                    </p>
                                }
                                @if (item.PlanDescription7 != null)
                                {
                                    <p class="text-justify">
                                        <strong class="text-danger">*</strong>
                                        @item.PlanDescription7
                                    </p>
                                }
                                @if (item.PlanDescription8 != null)
                                {
                                    <p class="text-justify">
                                        <strong class="text-danger">*</strong>
                                        @item.PlanDescription8
                                    </p>
                                }
                                @if (item.PlanDescription9 != null)
                                {
                                    <p class="text-justify">
                                        <strong class="text-danger">*</strong>
                                        @item.PlanDescription9
                                    </p>
                                }
                                @if (item.PlanDescription10 != null)
                                {
                                    <p class="text-justify">
                                        <strong class="text-danger">*</strong>
                                        @item.PlanDescription10
                                    </p>
                                }
                            </div>
                            <br />
                            <a class="btn btn-success btn-rounded" asp-page="/ContactMe">
                                جهت مشاوره و سفارش پلن تماس بگیرید
                            </a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="divider1"></div>

    <div class="lonon-clients">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span class="heading-meta style-1">همکاری با مشتریان</span>
                    <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">مشتریان من</h2>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.Customers)
                {
                    <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                        <div class="clients">
                            <img src="~/Pictures/@item.CustomerLogo" class="img-fluid" alt="@item.LogoAlt" title="@item.LogoTitle">
                            <p class="text-justify text-center topPadding"> @item.CustomerName</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    
    <div class="divider1"></div>

    <div class="lonon-testiominal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span class="heading-meta style-1">مشتریان&nbsp;</span>
                    <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">نظرات مشتریان من</h2>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.ClientsOpinion)
                {
                    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                        <div class="lonon-quote-card">
                            <img src="~/SiteTheme/assets/images/quote.png" alt="@item.ClientName" title="@item.ClientName" class="lonon-quote-2">
                            <p class="text-justify">
                                @item.Description
                            </p>
                            <h5><strong>@item.ClientName</strong></h5>
                            <p class="occupation">@item.ClientJob</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="lonon-footer2">
        <div class="lonon-narrow-content">
            <div class="row">
                <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                    <p class="lonon-lead">
                        استفاده از مطالب این سایت فقط برای مقاصد غیرتجاری و با ذکر منبع
                        بلامانع است. کلیه حقوق این سایت متعلق به نوید قوامی می‌باشد.
                    </p>
                </div>
                <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                    <h2 class="text-center">
                    </h2>
                </div>
                <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                    <a asp-page="/Articles_Blogs">
                        <h2 class="text-center">
                            مقالات روز دنیای برنامه نویسی و کامپیوتر  <strong class="text-warning">برنامه نویسی و کامپیوتر</strong>  را مشاهده فرمایید؟!
                        </h2>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

